.App__screen {
  width: 100%;
  height:100%;
  h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 64px;
    color: #191919;
  }

  .App__screen__mockup-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);

    .image-fit {
      padding: 4rem 4rem;
      img {
        border: 1px solid #191919;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        transition: 1s;
        &:hover {
          transform: scale(1.3);
        }
      }
    }

    .one {
      margin-top: 5rem;
    }
  }

}

// SMALL SCREEN LAPTOP
@media screen and (max-width: 950px) and (min-width: 850px) {
  .App__screen {
    .App__screen__mockup-1 {
  
      .image-fit {
        padding: 2rem 2rem;
        img {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
  
      .one {
        margin-top: 4rem;
      }
    }
  
  }
}

// TABLET
@media screen and (max-width: 850px) {
  .App__screen {
    h1 {
      font-size: 30px;
    }
  
    .App__screen__mockup-1 {
  
      .image-fit {
        padding: 2rem 2rem;
        img {
          &:hover {
            transform: scale(1.2);
          }
        }
      }
  
      .one {
        margin-top: 4rem;
      }
    }
  
  }
}

@media screen and (max-width: 400px) {
  .App__screen {
  
    .App__screen__mockup-1 {
      display: block;
  
      .image-fit {
        padding: 2rem 3rem;
        img {
          border: 1px solid #191919;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(4px);
          border-radius: 12px;
          transition: 1s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
  
      .one {
        margin-top: 0rem;
      }
    }
  
  }
}