.App__features {
  margin-top: 4rem;
  padding: 0rem 0rem 8rem 0rem;

  .App__features__details {
    h1 {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 64px;
      color: $fontColorDark ;
    }

    p {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: $fontColorDark;
    }

    .method {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 2rem;

      p {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        color: $SecondaryColor;

        i {
          color: $black;
          align-self: center;
          margin: 0px 1rem;
        }
      }
    }
  }

  .App__features__content {
    // display: grid;
    // grid-gap: 3rem;
    margin-top: 4rem;

    .card {
      border: none;
      width: 16em;
      margin: 0 auto;

      .img {
        width: 13.625em;
        height: 13.625em;

        margin: 0 auto;
        padding: 3.5rem;
        background: $whiteColor;
        box-shadow: 0px 3px 6px rgba(8, 35, 48, 0.25);
        border-radius: 12px;
      }

      .card-title {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        color: $fontColorDark;
      }

      .card-text {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        text-align: left;

        color: #4D4D4D;
      }
    }
  }
}


// RESPONSIVENESS OF THE HEADER 

// small tablet and big mobile
@media only screen and (min-width: 470px) and (max-width: 640px) {

  .App__features {
    .App__features__details {
      .method {
        p {
          font-size: 18px;
        }
      }
    }
  
    .App__features__content {
      .card {
        margin: 1rem auto;
      }
    }
  }
}


// MOBILE
@media only screen and (max-width: 470px) {
  .App__features {
    .App__features__details {
      p {
        font-size: 20px;
      }
  
      .method {
        p {
          font-size: 16px;
          i {
            margin: 0rem 0.6rem;
          }
        }
      }
    }
  
    .App__features__content {
      .card {
        margin: 1rem auto;
      }
    }
  }
}

// SMALL MOBILE 

@media only screen and (max-width: 380px) {
  .App__features {
    .App__features__details {
      p {
        font-size: 20px;
      }
  
      .method {
        p {
          font-size: 13px;
          i {
            margin: 0rem 0.4rem;
          }
        }
      }
    }
  
    .App__features__content {
      .card {
        margin: 1rem auto;
      }
    }
  }
}