footer {
  width: 100%;
  height: 100%;
  background: $SecondaryColor;
  padding: 2rem 0rem 1rem 0rem;

  

  .social__medias {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    .media__icons {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-self: center;

      li {
        margin: 0 0.8rem;
        a {
          color: $whiteColor;
        }
      }
    }
  }

  p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #d5d5d5;
  }
}

@media screen and (max-width: 380px) {
  footer {
    .social__medias {
      .brand__social {
        width: 40%;
      }
      .media__icons {
        li {
          margin: 0 0.5rem;
        }
      }
    }
  
    p {
      font-size: 12px;;
    }
  }
}