$primaryColor : #FEFEFE;
$SecondaryColor: #0E4CA8;
$fontColorLight: #EAEAEA;
$whiteColor: #ffffff;
$fontColorDark : #191919;
$black : #000000;


header {
  background: url('../assets/Images/Rectangle\ 4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1024.02px;
  padding: 2.5rem 0rem;
  position: relative;
  // overflow: hidden;
  // overflow-x: hidden;

  span {
    position: absolute;
    bottom: -50px;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 10px #fffefefb;
    animation: infinite linear animate 4s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }

    99% {
      opacity: 1;
    }

    100% {
      transform: translateY(-1800%);
      opacity: 0;
    }
  }

  .header__section__content {
    margin-top: 4.5rem;

    .lead__text {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 80px;
      color: $primaryColor;
    }

    .subordinate__text {
      margin-top: 1rem;
      font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 37px;
      color: $primaryColor;
    }

    .subordinate__text-two {
      margin-top: 4rem;
      font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: $primaryColor;
    }
    
    .form {
      display: flex;
      flex-direction: row;
      justify-content: start;
    }
    .text__input {
      width: 300px;
      height: 60px;
      background: transparent;
      border: 2px solid $primaryColor;
      box-sizing: border-box;
      border-radius: 12px 0px 0px 12px;
      padding: 0.3rem 1.2rem;

      font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      /* identical to box height */
      color: $fontColorLight;
      &::placeholder {
        color: $fontColorLight;
      }

    }

    .btn {
      width: 140px;
      height: 60px;
      // margin: -6px 0px 0px -5px;
      background: $primaryColor;
      border-radius: 0px 12px 12px 0px;

      font-family: Segoe UI;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
      /* identical to box height */


      color: $SecondaryColor;
    }
  }

  .header__section__img {
    width: 100%;
    height: 100%;
    position: relative;
    img  {
      width: 300px;
      height: 595.91px;
    }

    .mockUp__2 {
      position: absolute;
      width: 300px;
      height: 595.91px;
      left: 48%;
      top: 50%;
    }
  }
}


// RESPONSIVENESS OF THE HEADER 


// small desktop and big tablet
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  
  header {
    .header__section__img {

      img  {
        width: 16.75em;
        height: 35.244em;
      }
  
      .mockUp__2 {
        width: 16.75em;
        height: 35.244em;
        left: 48%;
      }
    }
  }
}


// TABLET
@media only screen and (min-width: 752px) and (max-width: 995px){

  header { 
    background: url('../assets/Images/Rectangle\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100em;
    .header__section__img {
      margin-top: 4rem;
      img  {
        width: 300px;
        height: 595.91px;
      }
  
      .mockUp__2 {
        position: absolute;
        width: 300px;
        height: 595.91px;
        left: 37%;
        top: 50%;
      }
    }
  }
}



// small tablet and big mobile
@media only screen and (min-width: 470px) and (max-width: 640px) {

  header {
    height: 100em;
    .header__section__img {
      margin-top: 4rem;
      img  {
        width: 13.75em;
        height: 28em;
      }
  
      .mockUp__2 {
        width: 13.75em;
        height: 28em;
        left: 38%;
      }
    }
  }
}


// MOBILE
@media only screen and (max-width: 470px) {
  
  header {
    height: 95em;
    .header__section__img {
      margin-top: 4rem;
      img  {
        width: 12.75em;
        height: 26em;
      }
  
      .mockUp__2 {
        width: 12.75em;
        height: 26em;
        left: 38%;
      }
    }
  }
}

// SMALL MOBILE 

@media only screen and (max-width: 380px) {
  
  header {
    padding: 2.5rem 0.5rem 3rem 0.5rem;
    height: 100em;
    .header__section__img {
      margin-top: 4rem;
      img  {
        width: 11.75em;
        height: 24.5em;
      }
  
      .mockUp__2 {
        width: 12.75em;
        height: 24.5em;
        left: 38%;
      }
    }

    .header__section__content {

      .text__input {
        width: 240px;
      }  
      .btn {
        width: 120px;
        font-size: 16px;
      }
    }  
  }
}