.App__partners {
  position: relative;
  padding: 3rem 0rem 4rem 0rem;

  .App__partners__details {
    margin: 0 auto;
    h4 {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 48px;
      color: $fontColorDark ;
    }

    .line {
      width: 80px;
      height: 0px;
      border: 2px solid $black;
      transform: rotate(90deg);
      margin: 5rem auto 1.5rem auto;
    }

    .img {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .App__partners__img {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    h4 {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 124%;
      letter-spacing: -0.04em;
      color: $fontColorDark;
    }

    .img {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      img {
        width: 12em;
        height: 10em;
      }
    }
  }

  .App__partners__blobs {
    display: block;
    
    .blobs {
      position: absolute;
      width: 100%;
      height: 100%;
      // transform: matrix(-0.86, -0.51, -0.51, 0.86, 0, 0);
    }

    .blobs__1 {
      background: url('../assets/Images/Vector.svg');
      background-repeat: no-repeat;
      left: 75%;
    }

    .blobs__2 {
      background: url('../assets/Images/Vector\ \(1\).svg');
      background-repeat: no-repeat;
    }

  }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
  .App__partners {
    .App__partners__img {
      .img {
        img {
          width: 11.5em;
          height: 10em;

         
        }
      }
    }
  }
}

@media only screen and (min-width: 750px) and (max-width: 980px) {
  .App__partners {
    .App__partners__img {
      .img {
        img {
          width: 8em;
          height: 8em;
        }
      }
    }

    .App__partners__blobs {
      .blobs {
        width: 80%;
        height: 100%;
      }
  
      // .blobs__1 {
      //   left: 75%;
      // }
  
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: 750px) {
  .App__partners {
    .App__partners__img {
      .img {
        align-items: center;
        img {
          width: 8em;
          height: 8em;
        }
      }
    }
  }
}

@media only screen and (min-width: 350px) and (max-width: 550px) {
  .App__partners {
    .App__partners__details {
      h4 {
        font-size: 28px;
      }
  
      .line {
        width: 90px;
      }
    }
    .App__partners__img {
      h4 {
        font-size: 28px;
      }
      .img {
        img {
          width: 10em;
          height: 7em;
        }
      }
    }
  }
}