@import './header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: #293043;
  // font-family:;
  /* background: #000000; */
}

img {
  max-width: 100%;
  height: auto;
}