@import './header';
@import './app-features';
@import './partners';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/segoe-ui-4-cufonfonts/Segoe\ UI.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UIBold';
  src: url('../assets/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;

}


body {
  width: 100%;
  height: 100%;
  color: $fontColorLight;
  font-family: Segoe UI;
  /* background: #000000; */
}

article {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}